@{
    ViewBag.Title = "Not fount..";
}

<h2> @ViewBag.ErrorMessage </h2>
<div>
    <a asp-action="Index" asp-controller="Employee" class="btn btn-outline-success">Click here to see the list of all employees</a>
</div>